# OpenSim log files
opensim.log

# Viewer backend
**/opensim-viewer-backend/

# Demo 2
Demo2_OpenSimIKPipeline/_ik_marker_errors.sto
Demo2_OpenSimIKPipeline/_ik_model_marker_locations.sto
Demo2_OpenSimIKPipeline/inverse_kinematics.sto
Demo2_OpenSimIKPipeline/*BodyKinematics*.sto

# Demo 3
Demo3_OpenSimMoco/path_fitting/**
Demo3_OpenSimMoco/squat_to_stand/**
Demo3_OpenSimMoco/device_optimization/**
Demo3_OpenSimMoco/muscle_synergies/**
delete_this_*.txt